{% for user in users %}
    {{ user.username|e }}
    {% if code is defined %}{% endif %}
{% endfor %}

<header>
    <div class="gutter"></div>
    <div class="container_12">
      <nav>
      <ul class="navigate pull-right">
        <li>работы
        <li><a href="/services">услуги</a>
        <li><a href="/skills">навыки</a>
        <li><a href="/contacts">контакты</a>
      </ul>
      </nav>
    </div>
</header>