{% extends "KnwsPortfolioBundle::layout.html.twig" %}
{% block title %}{{title}} — {{ parent() }}{% endblock %}
{% block content %}
<div class="clients projects container_12">

  </div>
{% endblock %}